<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.8, minimum-scale=0.5, maximum-scale=0.8, user-scalable=yes" />

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/WaveCtrl.js"></script>

    <link href="../static/css/autoSimSystem.css" rel="stylesheet">

</head>
<body>


<div class="contianer">
    <div class="nav-area">
        <ul class="nav">
            <li><a href="index.html"><img src="../static/images/nav_icon1_normal.png">故障设置</a></li>
            <li><a href="volData.html"><img src="../static/images/nav_icon2_normal.png">电压数据</a></li>
            <li><a href="waveData.html"><img src="../static/images/nav_icon3_normal.png">波形查看</a></li>
            <li class="active"><a href="setting.html"><img src="../static/images/nav_icon4_select.png">系统信息</a></li>
        </ul>
    </div>


    <div class="content-area">
        <div style="overflow-y: auto;height: 100%;width: 100%">
            <ul style="list-style-type: square;font-size:16px;font-weight: bold;color: #333333; ">
                <li>系统版本：V1.0
                    <p style="text-indent: 0cm;">序列IS：011-345-646</p>
                    <p style="text-indent: 0cm;font-size:12px;font-weight: 400">(本软件版权为上海景格科技股份有限公司所有，保留所有权利)</p>
                    <p style="text-indent: 0cm;color: #ff7d00;">www.jingge.com</p>
                </li>

                <li style="padding-top: 30px">车辆信号处理系统
                    <img src="../static/images/connect_ok.png" style="margin-left: 20px">
                    <h style="margin-left: 20px;font-size: 12px;font-weight:700;color: rgb(169,170,171)">连接成功!</h>
                </li>
                <li style="padding-top: 30px">语言设定</li>
                <li style="padding-top: 30px">系统更新
                    <p style="text-indent: 0cm;">上次更新时间:2012.03.31</p>
                    <p style="text-indent: 0cm;">可下载新版本:V5.1</p>
                    <img style="text-indent: 0cm;" src="../static/images/connect_ok.png" style="margin-left: 20px">
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>